body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f5ecff;

	min-height: 100vh;
	position: relative;
}

.project-image-wrapper {
	vertical-align: top;
	display: inline-block;
	text-align: center;

	/* margin-bottom: 25px; */

}

#name-label {
	padding: 10px;
	font-size: 23px;
}

#headshot {
	margin-top: 25px;
	max-width: 35vw;
	height: auto;
}

#bio-container {
	margin: auto;
}

.caption {
	display: block;
	max-width: 300px;
	color: black;
}

.project-preview {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	max-width: 300px;
	max-height: 300px;
	height: 300px;
	width: auto;
	/* height: auto; */
	margin: 10px;
	object-fit: contain;

	opacity: 0.8;
}

.white-fill {
	padding-left: 10px;
	background-color: white;
}

.icon-img {
	height: 32px;
	width: 32px;

	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 2px;

}

.spacer {
	height: 50px;
}

#project-container {
	margin-bottom: 10vh;
	display: block;
	padding-bottom: 100px;

	margin-left: auto;
}

#contact-info-wrapper {
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	text-align: center;
}

#contact-info {
	background-color: white;
	border-radius: 15px;
	border: 1px solid black;
	padding: 10px;

	display: inline-block;
	white-space: nowrap;
}

#resume-link-wrapper {
	/*margin-top: -80px;
	margin-bottom: 100px;*/

	position: absolute;
}

.row {
	display: grid;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	gap: 24px;
	/* row-gap: 24px;
	column-gap: 24px; */
	/* grid-template-columns: repeat(auto-fit, minmax(min(100%, max(300px, 100%/3)), 1fr)); */
	grid-template-columns: repeat(3, 1fr);
}

.text-row#bio-text {
	max-width: 80%;
	margin: auto;
	/* text-align: justify; */
	text-align: left;
}

.media-mentions-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.bio-section {
	margin: 40px 0;
}


@media only screen and (max-width: 980px) {
	.row {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
}

@media only screen and (max-width: 640px) {
	.row {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 800px) {
	#project-container {
		margin-left: 30px;
	}

	#headshot {
		max-width: 75%;
		height: auto;
	}

	#bio-text {
		max-width: unset;
		text-align: left;
	}
}